<app-block-header
    [icon]="blockObj.icon"
    [title]="blockObj.title"
    [blockStyle]="blockObj.blockStyle">

</app-block-header>
<div class="transaction-history-bound">
    <div class="filter-bound">
        <app-input-search
            (onSearchChange)="onSearchChange($event)"></app-input-search>
        <div class="sort-by">
            <p class="p-sort-by">Sort by</p>
            <div class="sort-content">
                <app-sort-button *ngFor="let option of sortOptions"
                    [sort]="option"
                    [sortSelected]="sortSelected"
                    [sortType]="sortType"
                    (onClickSortButton)="onClickSortButton($event)"></app-sort-button>
            </div>
        </div>
    </div>
    <div class="transaction-list">
        <app-transaction-item *ngFor="let transaction of transactionList"
            [transaction]="transaction"></app-transaction-item>
    </div>
</div>