<app-block-header
    [icon]="blockObj.icon"
    [title]="blockObj.title"
    [blockStyle]="blockObj.blockStyle">

</app-block-header>
<div class="transaction-history-bound">
    <div class="filter-bound">
        <app-input-control 
            [placeHolder]="searchTransactionInput.placeHolder"
            [type]="searchTransactionInput.type">
        </app-input-control>
    </div>
    <div class="transaction-list">
        <app-transaction-item *ngFor="let transaction of transactionList"
            [transaction]="transaction"></app-transaction-item>
    </div>
</div>