.sort-btn{
    display: flex;
    height: 34px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-left: 1px solid rgb(202, 197, 192);
    border-top: 1px solid rgb(202, 197, 192);
    border-bottom: 1px solid rgb(202, 197, 192);
    cursor: pointer;
}
:host:last-child{
    border-right: 1px solid rgb(202, 197, 192);
}

.sort-title{
    font-weight: 400;
}
.ic-sort{
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid rgb(144, 144, 144);
}
