<app-block-header
    [icon]="blockObj.icon"
    [title]="blockObj.title"
    [blockStyle]="blockObj.blockStyle" >
</app-block-header> 
<div class="transfer-manage-bound">
    <div class="input-container">
        <p class="input-title">FROM ACCOUNT</p>
        <div class="input-bound">
            <input value="{{fromAccountInput.value}}" class="input-text" type='text' disabled />
        </div>
    </div>
    <div class="input-container">
        <p class="input-title">TO ACCOUNT</p>
        <div class="input-bound">
            <input 
                placeholder="Type to account" 
                id="toAccount"
                class="input-text" type='text'
                [(ngModel)]="toAccountValue" (ngModelChange)="onChangeToAccount($event)"/>
        </div>
    </div>
    <div class="input-container">
        <p class="input-title">AMOUNT</p>
        <div class="input-bound">
            <p class="p-currency" 
                [style.color]="amountValue?'black':'rgb(192, 192, 192)'">$</p>
            <input 
                placeholder="0.00" 
                id="amount"
                type="number"
                ngClass="input-currency"  
                [(ngModel)]="amountValue" (ngModelChange)="onChangeAmount($event)"/>
        </div>
    </div>
    <button class="button-submit" (click)="onSubmit()">SUBMIT</button>
</div>