<p class="input-title">{{inputTitle | uppercase}}</p>
<div class="input-bound">
    <p *ngIf="inputType==='currency'" class="p-currency" 
        [style.color]="inputValue&&inputValue.length>0?'black':'rgb(192, 192, 192)'">$</p>
    <input 
        placeholder="{{inputPlaceHolder}}" 
        id="{{inputKey}}"
        [attr.type]="inputType==='currency' ? 'number':'text'"
        [attr.disabled]="inputIsDisable ? '':null"
        [ngClass]="inputType==='currency' ? 'input-currency' : 'input-text'"  
        [(ngModel)]="inputValue" (ngModelChange)="onChange($event)"/>
</div>